/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

body,html, #wrapper{
    background-color: #F3F4F8 !important;
}
#page-title {
    position: relative;
    padding: 0 !important;
    background-color: transparent !important;
}
#page-title .container {
    position: relative !important;
    padding: 3.5rem 12px !important;
    background-color: #F9F9FA !important;
}
.dark.transparent-header .container, .dark #header-wrap, #header.dark{
	background-color:transparent !important;
}
.transparent-header.floating-header .container > div{
    background-color: #FFFFFF;
}
.dark.transparent-header.floating-header .container > div{
    background-color: transparent !important;
}
.transparent-header.floating-header .container {
    background-color: transparent !important;
}

#header .container{
    padding: 0 12px !important;
}
#header .container > div{
    padding: 0 20px !important;
}
#header{
    border-bottom: 0px solid transparent !important;;
}
#slider{
    z-index: 0 !important;
}
.b-crumbs{
    z-index: 2;
    left: unset !important;
}
#top-lifted{
    margin-top: -80px;
}
.v-padding{
    min-height: 85vh;
}
.header-overlay::after {
    z-index: 2 !important;
}
.transparent-header.floating-header .container {
    background-color: #FFF;
    padding: 0 0 !important;
}
.min-vh-85{
    min-height: 85vh;
}

ul.b-crumbs > li a:hover {
    border-color: #ffffff !important;
}
.header-row{
    border-radius: 2px !important;
}

.mega-menu-content.mega-menu-style-2{
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    margin-top: -2px !important;
}

.mainmenu3 > ul > li.active:before {
    
    border-right: 10px solid #3357b4;
    border-bottom: 20px solid #3357b4;
}
.special-marked{
    color:#ffffff !important;
}
#post-slider{
    z-index: 0;
}
.slider-hero{
    position: relative;
}
#title-fix{
    position: absolute;
    top: calc(85vh - 500px);
    z-index: 2;
}
#title-fix h2{
    color: #ffffff;
}
.head-hide{
    visibility:hidden ;
}

.slider-text{
    max-width: 700px;
}
.swiper-slide{
    align-self: stretch !important;
}
#slider{
    height: 100%;
}
.post-slider .swiper-button-prev, .post-slider .swiper-button-next {
    bottom: 95px;
}
.prop-i-rating{
    margin: 0;
}
.prop-i-rating{
    margin-bottom: 0 !important;
}
.prop-i-loc{
    margin: 12px 0 15px !important;
}
.prop-grid .prop-i {
    padding: 0 38px 38px;
}
.prop2 .prop-i {
    padding: 0 38px 60px !important; 
}
.prop-i .prop-bottom {
    padding-top: 25px;
    border-top: 1px solid #e1e5ee;
}
#property-slider{
    border-radius: 3px;
}
#property-slider.swiper-container:hover .swiper-button-prev, #property-slider.swiper-container:hover .swiper-button-next {
    display: block !important;
}
#property-slider  .swiper-button-prev,#property-slider  .swiper-button-next {
    position: absolute;
    width: 35px;
    height: 40px;
    background-color: #3459B4;
    z-index: 2;
    display: flex;
    padding: 10px;
    background-image: none !important;
    display: none;
    border-radius: 3px;
}
.after-prev{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative !important;
}
.swiper-button-prev img{
    height: 100%;
}

.video-bg{
    position: relative;
    overflow: hidden;
    min-height: 160px;
    border-radius: 2px;
}
.video-bg .video-header{
    position: absolute;
    inset: 30px;
    z-index: 10;
}
.video-header p{
    letter-spacing: 5px;
    font-weight: bold;
}
#background-video{
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 1;
}
.display-5{
    font-size: 35px !important;
}
.text-white{
    color: #ffffff !important;
}
.py-5{
    padding-top:30px;
    padding-bottom:30px;
}

.my-5{
    margin-top:30px;
    margin-bottom:30px;
}
.subscribe-container{
    border-bottom:1px solid #e1e5ee; ;
}
.subscribe-container .f2-subscribe{
    margin-bottom: 0px !important;
}
.subscribe-container form{
    max-width: 400px;
}
.slider-arrows{
    position: relative;
}
.prop-main-atts dt .prop-i-info-icon,.prop-i-info-icon {
    align-items: center !important;
    display: flex !important;
}
i{
    font-size: 16px;
}
li > i{
    font-size:20px
}
@media (min-width: 992px){
    .post-slider .swiper-pagination-fraction {
        margin: 0 0 75px 455px !important;
    }
    .header-size-custom .menu-container > .menu-item > .menu-link {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
}
@media (min-width: 992px){
    #header.floating-header .mega-menu-content {
        max-width: 936px !important;
    }
    #header.floating-header .mega-menu-content {
        width: 100% !important;
        margin: 0;max-width: 936px !important;
    }
    .display-2{
        font-size: 88px;
        font-weight: 700;
        line-height: 105px;
    }
}
@media only screen and (min-width:1200px) {
    #header.floating-header .mega-menu-content {
        max-width: 1116px !important;width: 100% !important;
    }
    .v-padding{
        min-height: 85vh;
        padding: 0 !important;
    }
}
@media only screen and (min-width:1400px) {
    #header.floating-header .mega-menu-content {
        max-width: 1296px !important;width: 100% !important;
    }
}
.header-size-custom #logo img {
    height: 70px !important;
}

@media only screen and (max-width: 1229px){
    .post-slider .swiper-pagination-fraction{
        margin: 0 0 75px 340px !important;
    }
    
}
@media only screen and (max-width:992px) {
    #header.dark {
        background-color: #333!important;
        
    }
    .header-row{
        align-items: center !important;
    }
    .post-slider .swiper-pagination-fraction {
        margin: 0 0 75px 230px !important;
    }
    
}
@media only screen and (max-width:768px) {
    
    .post-slider .swiper-pagination-fraction {
        margin: 0 0 75px 50px !important;
    }
}