/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

body,html, #wrapper{
    background-color: #F3F4F8 !important;
}
#page-title {
    position: relative;
    padding: 0 !important;
    background-color: transparent !important;
}
#page-title .container {
    position: relative !important;
    padding: 3.5rem 12px !important;
    background-color: #F9F9FA !important;
}
#slider{
    z-index: 0 !important;
}
.prop-b-crumbs{
    padding: 0 20px !important;
}
.prop-b-crumbs *, .prop-b-crumbs li::after{
    color: #FFFFFF !important;
}
#top-lifted{
    margin-top: -160px;
}
.min-vh-85{
    min-height: 85vh;
}
.header-overlay::after {
    z-index: 2 !important;
}
.transparent-header.floating-header .container {
    background-color: #FFF;
    padding: 0 0 !important;
}

ul.b-crumbs > li a:hover {
    border-color: #ffffff !important;
}


#logo a img{
    height: 70px !important;
}

#headerNew{
    position: fixed;
    z-index: 5;
    width:100%;
    top: 15px;
}
#headerNew.fixed-custom{
    position: fixed !important;
    top: 15px;
}
#headerNew.fixed-custom .header-extras *{
    color: #FFFFFF;
}

#headerNew.fixed-custom .menu-container > .menu-item > .menu-link {
    color: #FFFFFF;
    display: flex;
}
#headerNew.fixed-custom .menu-container > .menu-item:hover > .menu-link, #headerNew.fixed-custom .header-extras *:hover{
    color: #ba1818 !important;
}
#headerNew .i-plain{
    text-shadow: none !important;
}
#headerNew .header-row{
    border-radius: 2px;
    padding: 0 12px;
}
#headerNew:hover .header-row, #headerNew.scrolled .header-row{
    background-color: #ffffff;
}
#headerNew:hover.fixed-custom .menu-container > .menu-item > .menu-link,
#headerNew:hover.fixed-custom .header-extras * ,
#headerNew.scrolled .header-extras * ,
#headerNew.scrolled .menu-container > .menu-item > .menu-link

{
    color: #444444;
}

@media only screen and (max-width:992px) {
    #headerNew, #headerNew.fixed-custom{
        position: relative !important;
        top: unset;
        background: #333 !important;

    }
}
@media only screen and (min-width:993px) {
    #header.dark {
        background-color: #333!important;
        
    }
    .header-row{
        align-items: center !important;
    }
    #headerNew .menu-container > .menu-item > .menu-link {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
}
@media only screen and (min-width:1200px) {
    #header.floating-header .mega-menu-content {
        max-width: 1140px !important;
    }
}
@media only screen and (min-width:1400px) {
    #header.floating-header .mega-menu-content {
        max-width: 1320px !important;
    }
}


#header.floating-header .mega-menu-content {
    max-width: 960px !important;
}
#header.dark.floating-header .mega-menu-content {
    width: calc(100% - var(--menu-gap, 30px) ) !important;
    margin: 0;
    max-width: 1296px !important;
}
}


<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />

	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />

	
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- Store Demo Specific Stylesheet -->
	<link rel="stylesheet" href="css/colors.php?color=222222" type="text/css" /> <!-- Store Theme Color -->

	<link rel="stylesheet" href="demos/store/store.css" type="text/css" />
	<!-- HIER portfolie hovers Store Theme Custom CSS -->


	<!-- Hosting Demo Specific Stylesheet (clean) -->
	<link rel="stylesheet" href="demos/hosting/hosting.css" type="text/css" />

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">

	<script src="https://kit.fontawesome.com/5cbfd0d562.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/chosen.css">
	<link rel="stylesheet" href="css/ion.rangeSlider.css">
	<link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<title>Store | Canvas</title>

</head>

<!--<body class="stretched modal-subscribe-bottom sticky-footer"> -->

<body class="">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<section id="headerNew" class="fixed-custom">
			<div id="header-wrapper">
				<div class="container">
					<div class="header-row justify-content-lg-between">
						<!-- Logo
						============================================= -->
						<div id="logo" class="me-lg-0">
							<a href="index.html" class="standard-logo"
								data-dark-logo="demos/store/images/logo-dark-cu.svg"><img
									src="demos/store/images/logo-cu.svg" alt="Canvas Logo"></a>
							<a href="index.html" class="retina-logo"
								data-dark-logo="demos/store/images/logo-dark@2x-cu.png"><img
									src="demos/store/images/logo@2x-cu.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->

						<!-- add
						============================================= -->

						<div class="header-misc">

							<ul class="header-extras d-none d-sm-flex mx-auto mx-md-0 mb-md-0">

								<i class="i-plain icon-line-video m-0"></i>


								<div id="top-account" class="px-2">
									<!-- <button name="modal-subscribe-form-submit" class="button w-100 btn-danger m-0 mt-2" type="submit">Subscribe Now</button> -->
									<a href="#modal-register" data-lightbox="inline" class="headerlink">Beratung
										vereinbaren</a>
								</div><!-- #top-search end -->
							</ul>

							<!-- add end -->


						</div>

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100">
								<path
									d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
								</path>
								<path d="m 30,50 h 40"></path>
								<path
									d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
								</path>
							</svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu with-arrows">

							<!-- Menu Left -->
							<ul class="not-dark menu-container">
								<li class="menu-item current"><a class="menu-link" href="#">
										<div>Home</div>
									</a></li>
								<li class="menu-item mega-menu"><a class="menu-link" href="demo-store-products.html">
										<div>Kanada</div>
										<i class="icon-angle-down ms-1"></i>
									</a>
									<div class="mega-menu-content mega-menu-style-2">
										<div class="container">
											<div class="row">
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Provinzen</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Alberta</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>British Columbia</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Manitoba</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>New Brunswick</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Newfoundland</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Nova Scotia</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Ontario</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Québec</div>
																</a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Kanada</div>
														</a></li>
												</ul>
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Schulformen</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>High School</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Privatschule und Internat</div>
																</a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Schulprofile</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>High Schools</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Privatschulen</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Internate</div>
																</a></li>
														</ul>

													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Schulsystem</div>
														</a></li>
												</ul>

												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Schulangebote</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Aktivitäten und Sportarten</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Liste: Aktivitäten</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Liste: Sportarten</div>
																</a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Kursoptionen</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Academic</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Career & Technology</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Fine Arts & Music</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Physical Education & Outdoor</div>
																</a></li>
														</ul>

													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-3 border-start-0">
													<li class="card p-0 bg-transparent border-0">
														<img class="card-img-top lazy"
															data-src="demos/store/images/others/menu-CU-5.jpg"
															alt="image cap">
														<a href="#"
															class="btn btn-link text-start fw-medium ps-0 bg-transparent"><u>Was
																ist das Besondere an Kanada?</u></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li><!-- .mega-menu end -->
								<li class="menu-item mega-menu"><a class="menu-link" href="demo-store-products.html">
										<div>Schüleraustausch</div><i class="icon-angle-down ms-1"></i>
									</a>
									<div class="mega-menu-content mega-menu-style-2">
										<div class="container">
											<div class="row">
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Was ist ein Schüleraustausch?</div>
														</a></li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Vorteile</div>
														</a></li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Voraussetzungen </div>
														</a></li>
												</ul>
												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Programme</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Dauer und Beginn</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Preise</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Unsere Leistungen</div>
																</a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Prozesse</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Deine Bewerbung</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Deine Gastfamilie</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Deine Versicherung</div>
																</a></li>
														</ul>
													</li>
												</ul>

												<ul class="mega-menu-column sub-menu-container border-start-0 col-lg-3">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Einreise</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Dein Study Permit</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Dein Flug nach Kanada</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Deine Checkliste vor der Abreise!</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Deine Packliste</div>
																</a></li>
														</ul>
													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-3 border-start-0">
													<li class="card p-0 bg-transparent border-0">
														<img class="card-img-top lazy"
															data-src="demos/store/images/others/menu-CU-2.jpg"
															alt="image cap">
														<a href="#"
															class="btn btn-link text-start fw-medium ps-0 bg-transparent"><u>Was
																ist ein Schüleraustausch?</u></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li><!-- .mega-menu end -->
								<!--<li class="menu-item"><a class="menu-link" href="demo-store-products.html"><div>Women</div></a></li>-->
								<li class="menu-item mega-menu"><a class="menu-link" href="#">
										<div>Kontakt</div><i class="icon-angle-down ms-1"></i>
									</a>
									<div class="mega-menu-content mega-menu-style-2">
										<div class="container">
											<div class="row">
												<ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Canada Unique</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item">
																<div class="widget">
																	<address>
																		<strong>Canada Unique Dallaire & Dirks
																			GbR</strong><br>
																		Milanweg 31<br>
																		26127 Oldenburg<br>
																	</address>
																	<abbr
																		title="Phone Number"><strong>Telefon:</strong></abbr>
																	0441-800-760-50<br>
																	<abbr
																		title="Email Address"><strong>E-Mail:</strong></abbr>
																	info@canadaunique.com
																</div>
															</li>
														</ul>
													</li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Kontakt</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Anfrage</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Zoom Beratung buchen</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Bewerbung</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Katalog bestellen</div>
																</a></li>
														</ul>
													</li>
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Online Katalog</div>
														</a></li>
												</ul>
												<ul class="mega-menu-column sub-menu-container col-lg-4 border-start-0">
													<li class="mega-menu-title menu-item"><a class="menu-link" href="#">
															<div>Links</div>
														</a>
														<ul class="sub-menu-container">
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Instagram</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Impressum</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>Datenschutz</div>
																</a></li>
															<li class="menu-item"><a class="menu-link" href="#">
																	<div>AGBs</div>
																</a></li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li><!-- .mega-menu end -->
							</ul>

						</nav><!-- #primary-menu end -->

					</div>

				</div>

			</div>

		</section><!-- #header end -->




		<section id="slider" class="slider-element"
		style="background: linear-gradient(to right, rgba(0,0,0, 0.4) 20%, transparent 100%), url('demos/hostel/images/hero1.jpg') no-repeat center center / cover;">

			<div>
				<div class="vertical-middle min-vh-85 container">

					<div class="row justify-content-between">
						<!--<div class="col-lg-6 col-md-7 dark mb-5 mb-md-0 py-5">-->
						<div class="container dark py-5 py-md-0">
	
							<div class="parallax" data-0="transform: translateY(0px); opacity: 1"
								data-300="transform: translateY(50px); opacity: 0">
								<!-- col-lg-6-->
								<h2 class="fw-bold display-2 mb-0">Calgary</h2>
							</div>
	
						</div>
					</div>
	
				</div>
			</div>

		</section>



		<!-- Content
		============================================= -->

		<section id="top-lifted">
			<div class="container prop-b-crumbs">
				<ul class="b-crumbs">
					<li><a href="index-detailed.html">Home</a></li>
					<li><a href="catalog-grid.html">Catalog</a></li>
					<li>Single Property</li>
				</ul>
			</div>
			<div class="container">
				<div class="prop-main">
					<div class="prop-main-top">
						<p class="prop-main-loc"><a href="catalog-grid.html">Madrid</a>, <a
								href="catalog-grid.html">Spain</a></p>
						<h1 class="prop-main-ttl">Comfortable Apartments 15 Sqrt</h1>
						<div class="prop-main-rating">
							<p>Rating</p>
							<ul>
								<li><i class="ion-android-star"></i></li>
								<li><i class="ion-android-star"></i></li>
								<li><i class="ion-android-star"></i></li>
								<li><i class="ion-android-star"></i></li>
								<li><i class="ion-android-star"></i></li>
							</ul>
						</div>
						<div class="prop-main-price-wrap">
							<p class="prop-main-price-label">Price</p>
							<p class="prop-main-price"><span class="prop-main-price-val">$1800</span> <span
									class="prop-main-price-currency">/ month</span></p>
						</div>
					</div>
					<dl class="prop-main-atts">
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-status.png" alt=""></span>
							Status
						</dt>
						<dd><a href="catalog-grid.html">For Rent</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-area.png" alt=""></span>
							Square Feet
						</dt>
						<dd><a href="catalog-grid.html">1500</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-bed.png" alt=""></span>
							Beds
						</dt>
						<dd><a href="catalog-grid.html">4</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-price.png" alt=""></span>
							Price
						</dt>
						<dd><a href="catalog-grid.html">$1600</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-type.png" alt=""></span>
							Type
						</dt>
						<dd><a href="catalog-grid.html">Apartment</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-garage.png" alt=""></span>
							Garage SqFt
						</dt>
						<dd><a href="catalog-grid.html">2 / 200</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-bath.png" alt=""></span>
							Baths
						</dt>
						<dd><a href="catalog-grid.html">2</a></dd>
						<dt>
							<span class="prop-i-info-icon"><img src="img/ico-user.png" alt=""></span>
							Guests
						</dt>
						<dd><a href="catalog-grid.html">3</a></dd>
					</dl>
				</div>
			</div>
		</section>

		<section>
			<div class="container maincont stylization">
				<div class="cont-boxed">
					<h2 class="color-grey fw-bold">Pricing Tables</h2>


					<div class="">
						<p>Recusandae explicabo architecto eos unde laborum natus omnis dignissimos doloremque
							voluptatem necessitatibus fugiat aut, pariatur, optio dolor quod sequi repudiandae nihil
							obcaecati, reiciendis provident? Facere ullam ut voluptatum tenetur cumque rem provident
							fuga voluptate iste quo laboriosam nulla est distinctio ducimus, deserunt animi, atque culpa
							non quis quasi beatae architecto itaque. Officia sit nesciunt laborum maiores harum, amet
							quod necessitatibus, perferendis asperiores quaerat accusamus doloribus magni tenetur quis
							saepe ullam rem quo quidem.
							<br>Non dolore odit, totam voluptates quibusdam veniam sed est beatae quo aspernatur. Rerum
							tempora expedita, aut, error eligendi dolores suscipit delectus repellendus quas qui soluta,
							laborum corporis quo sed. Blanditiis assumenda, quaerat eos fugit impedit hic facere.
							Obcaecati harum, error nobis sapiente enim sed dolor distinctio atque consectetur, saepe ex
							temporibus nisi laboriosam tempore voluptates quod officiis quisquam libero beatae maiores,
							pariatur quaerat.
						</p>
					</div>

				</div>
			</div>
		</section>

		<div class="banner-block" style="background-image: url('images/banner1.png');">
			<div class="stylization container">
				<h3>House by <span class="special-marked">the sea <img class="special-marked-lt" src="img/triangle-lt.png" alt=""> <img class="special-marked-rt" src="img/triangle-rt.png" alt=""></span></h3>
				<a href="#" class="btn2">Read more</a>
			</div>
		</div>
		
		<div class="container maincont">
		
			<div class="mainttl-wrap">
				<h1 class="mainttl"><span>Featured <b>Properties</b></span></h1>
				<div class="mainttl-sort">
					<p class="mainttl-sort-label">Sort by: <span>Rating</span></p>
					<ul class="mainttl-sort-values">
						<li><a href="#">Default Order</a></li>
						<li><a href="#">Name</a></li>
						<li class="active"><a href="#">Rating</a></li>
						<li><a href="#">Price</a></li>
						<li><a href="#">Date</a></li>
						<li><a href="#">Popularity</a></li>
					</ul>
				</div>
			</div>
		
			<div class="row prop-grid">
				<div class="cf-xs-6 cf-sm-6 cf-lg-4 col-xs-6 col-sm-6 col-md-4 prop-i-col">
					<div class="prop-i">
						<a href="property.html" class="prop-i-img">
							<img src="images/prop1.jpeg" alt="">
						</a>
						<div class="prop-i-top">
							<p class="prop-i-loc"><a href="catalog-grid.html">Brooklyn</a>, <a href="catalog-grid.html">USA</a></p>
							<div class="prop-i-moreinfo">
								<ul>
									<li class="prop-i-date">
										Published 2 month ago
									</li>
									<li>
										<a href="#">Add to Favorite</a>
									</li>
									<li>
										<a href="catalog-grid.html">Similar Properties</a>
									</li>
									<li class="prop-i-agent">
										<a href="agent.html" class="prop-i-agent-img"><img src="http://placehold.it/80x80" alt=""></a>
										<p class="prop-i-agent-type">Agent</p>
										<p class="prop-i-agent-name"><a href="agent.html">Mark Duncan</a></p>
									</li>
								</ul>
							</div>
						</div>
						<h3 class="prop-i-ttl">
							<a href="property.html">Apartment 21 Sqrt</a>
						</h3>
						<ul class="prop-i-rating">
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
						</ul>
						<dl class="prop-i-info">
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo1.png" alt=""></span>
								Square Feet
							</dt>
							<dd>2100</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo2.png" alt=""></span>
								Bedrooms
							</dt>
							<dd>3</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo3.png" alt=""></span>
								Guests
							</dt>
							<dd>4</dd>
						</dl>
						<div class="prop-i-bottom">
							<p class="prop-i-price"><span class="prop-i-price-val">$160,300</span></p>
							<p class="prop-i-type"><a href="catalog-grid.html">For Sale</a></p>
						</div>
					</div>
				</div>
				<div class="cf-xs-6 cf-sm-6 cf-lg-4 col-xs-6 col-sm-6 col-md-4 prop-i-col">
					<div class="prop-i">
						<a href="property.html" class="prop-i-img">
							<img src="images/prop1.jpeg" alt="">
						</a>
						<div class="prop-i-top">
							<p class="prop-i-loc"><a href="catalog-grid.html">Rome</a>, <a href="catalog-grid.html">Italy</a></p>
							<div class="prop-i-moreinfo">
								<ul>
									<li class="prop-i-date">
										Published 2 month ago
									</li>
									<li>
										<a href="#">Add to Favorite</a>
									</li>
									<li>
										<a href="catalog-grid.html">Similar Properties</a>
									</li>
									<li class="prop-i-agent">
										<a href="agent.html" class="prop-i-agent-img"><img src="http://placehold.it/80x80" alt=""></a>
										<p class="prop-i-agent-type">Agent</p>
										<p class="prop-i-agent-name"><a href="agent.html">Mark Duncan</a></p>
									</li>
								</ul>
							</div>
						</div>
						<h3 class="prop-i-ttl">
							<a href="property.html">Family Home 14 Sqrt</a>
						</h3>
						<ul class="prop-i-rating">
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
						</ul>
						<dl class="prop-i-info">
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo1.png" alt=""></span>
								Square Feet
							</dt>
							<dd>1400</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo2.png" alt=""></span>
								Bedrooms
							</dt>
							<dd>3</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo3.png" alt=""></span>
								Guests
							</dt>
							<dd>4</dd>
						</dl>
						<div class="prop-i-bottom">
							<p class="prop-i-price"><span class="prop-i-price-val">$1800</span> <span class="prop-i-price-currency">/ mo</span>
							</p>
							<p class="prop-i-type"><a href="catalog-grid.html">For Rent</a></p>
						</div>
					</div>
				</div>
				<div class="cf-xs-6 cf-sm-6 cf-lg-4 col-xs-6 col-sm-6 col-md-4 prop-i-col">
					<div class="prop-i">
						<a href="property.html" class="prop-i-img">
							<img src="images/prop1.jpeg" alt="">
						</a>
						<div class="prop-i-top">
							<p class="prop-i-loc"><a href="catalog-grid.html">Paris</a>, <a href="catalog-grid.html">France</a></p>
							<div class="prop-i-moreinfo">
								<ul>
									<li class="prop-i-date">
										Published 2 month ago
									</li>
									<li>
										<a href="#">Add to Favorite</a>
									</li>
									<li>
										<a href="catalog-grid.html">Similar Properties</a>
									</li>
									<li class="prop-i-agent">
										<a href="agent.html" class="prop-i-agent-img"><img src="http://placehold.it/80x80" alt=""></a>
										<p class="prop-i-agent-type">Agent</p>
										<p class="prop-i-agent-name"><a href="agent.html">Mark Duncan</a></p>
									</li>
								</ul>
							</div>
						</div>
						<h3 class="prop-i-ttl">
							<a href="property.html">Loft 13 Sqrt</a>
						</h3>
						<ul class="prop-i-rating">
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
						</ul>
						<dl class="prop-i-info">
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo1.png" alt=""></span>
								Square Feet
							</dt>
							<dd>1300</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo2.png" alt=""></span>
								Bedrooms
							</dt>
							<dd>3</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo3.png" alt=""></span>
								Guests
							</dt>
							<dd>4</dd>
						</dl>
						<div class="prop-i-bottom">
							<p class="prop-i-price"><span class="prop-i-price-val">$130,500</span></p>
							<p class="prop-i-type"><a href="catalog-grid.html">For Sale</a></p>
						</div>
					</div>
				</div>
				<div class="cf-xs-6 cf-sm-6 cf-lg-4 col-xs-6 col-sm-6 col-md-4 prop-i-col">
					<div class="prop-i">
						<a href="property.html" class="prop-i-img">
							<img src="images/prop1.jpeg" alt="">
						</a>
						<div class="prop-i-top">
							<p class="prop-i-loc"><a href="catalog-grid.html">San Francisco</a>, <a href="catalog-grid.html">USA</a></p>
							<div class="prop-i-moreinfo">
								<ul>
									<li class="prop-i-date">
										Published 2 month ago
									</li>
									<li>
										<a href="#">Add to Favorite</a>
									</li>
									<li>
										<a href="catalog-grid.html">Similar Properties</a>
									</li>
									<li class="prop-i-agent">
										<a href="agent.html" class="prop-i-agent-img"><img src="http://placehold.it/80x80" alt=""></a>
										<p class="prop-i-agent-type">Agent</p>
										<p class="prop-i-agent-name"><a href="agent.html">Mark Duncan</a></p>
									</li>
								</ul>
							</div>
						</div>
						<h3 class="prop-i-ttl">
							<a href="property.html">Apartment 11 Sqrt</a>
						</h3>
						<ul class="prop-i-rating">
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
						</ul>
						<dl class="prop-i-info">
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo1.png" alt=""></span>
								Square Feet
							</dt>
							<dd>1100</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo2.png" alt=""></span>
								Bedrooms
							</dt>
							<dd>3</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo3.png" alt=""></span>
								Guests
							</dt>
							<dd>4</dd>
						</dl>
						<div class="prop-i-bottom">
							<p class="prop-i-price"><span class="prop-i-price-val">$1300</span> <span class="prop-i-price-currency">/ mo</span>
							</p>
							<p class="prop-i-type"><a href="catalog-grid.html">For Rent</a></p>
						</div>
					</div>
				</div>
				<div class="cf-xs-6 cf-sm-6 cf-lg-4 col-xs-6 col-sm-6 col-md-4 prop-i-col">
					<div class="prop-i">
						<a href="property.html" class="prop-i-img">
							<img src="images/prop1.jpeg" alt="">
						</a>
						<div class="prop-i-top">
							<p class="prop-i-loc"><a href="catalog-grid.html">Copenhagen</a>, <a href="catalog-grid.html">Denmark</a></p>
							<div class="prop-i-moreinfo">
								<ul>
									<li class="prop-i-date">
										Published 2 month ago
									</li>
									<li>
										<a href="#">Add to Favorite</a>
									</li>
									<li>
										<a href="catalog-grid.html">Similar Properties</a>
									</li>
									<li class="prop-i-agent">
										<a href="agent.html" class="prop-i-agent-img"><img src="http://placehold.it/80x80" alt=""></a>
										<p class="prop-i-agent-type">Agent</p>
										<p class="prop-i-agent-name"><a href="agent.html">Mark Duncan</a></p>
									</li>
								</ul>
							</div>
						</div>
						<h3 class="prop-i-ttl">
							<a href="property.html">Condo 21 Sqrt</a>
						</h3>
						<ul class="prop-i-rating">
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
						</ul>
						<dl class="prop-i-info">
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo1.png" alt=""></span>
								Square Feet
							</dt>
							<dd>2100</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo2.png" alt=""></span>
								Bedrooms
							</dt>
							<dd>3</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo3.png" alt=""></span>
								Guests
							</dt>
							<dd>4</dd>
						</dl>
						<div class="prop-i-bottom">
							<p class="prop-i-price"><span class="prop-i-price-val">$140,700</span></p>
							<p class="prop-i-type"><a href="catalog-grid.html">For Sale</a></p>
						</div>
					</div>
				</div>
				<div class="cf-xs-6 cf-sm-6 cf-lg-4 col-xs-6 col-sm-6 col-md-4 prop-i-col">
					<div class="prop-i">
						<a href="property.html" class="prop-i-img">
							<img src="images/prop1.jpeg" alt="">
						</a>
						<div class="prop-i-top">
							<p class="prop-i-loc"><a href="catalog-grid.html">Ankara</a>, <a href="catalog-grid.html">Turkey</a></p>
							<div class="prop-i-moreinfo">
								<ul>
									<li class="prop-i-date">
										Published 2 month ago
									</li>
									<li>
										<a href="#">Add to Favorite</a>
									</li>
									<li>
										<a href="catalog-grid.html">Similar Properties</a>
									</li>
									<li class="prop-i-agent">
										<a href="agent.html" class="prop-i-agent-img"><img src="http://placehold.it/80x80" alt=""></a>
										<p class="prop-i-agent-type">Agent</p>
										<p class="prop-i-agent-name"><a href="agent.html">Mark Duncan</a></p>
									</li>
								</ul>
							</div>
						</div>
						<h3 class="prop-i-ttl">
							<a href="property.html">Loft 11 Sqrt</a>
						</h3>
						<ul class="prop-i-rating">
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
							<li><i class="ion-android-star"></i></li>
						</ul>
						<dl class="prop-i-info">
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo1.png" alt=""></span>
								Square Feet
							</dt>
							<dd>1100</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo2.png" alt=""></span>
								Bedrooms
							</dt>
							<dd>3</dd>
							<dt>
								<span class="prop-i-info-icon"><img src="img/propinfo3.png" alt=""></span>
								Guests
							</dt>
							<dd>4</dd>
						</dl>
						<div class="prop-i-bottom">
							<p class="prop-i-price"><span class="prop-i-price-val">$1200</span> <span class="prop-i-price-currency">/ mo</span>
							</p>
							<p class="prop-i-type"><a href="catalog-grid.html">For Rent</a></p>
						</div>
					</div>
				</div>
			</div>
		
			<button class="prop-items-more">Show more</button>
		
		</div>
		
		
		<div class="modalform">
			<form action="#" method="POST" class="form-validate">
				<p class="modalform-ttl">Contact Us</p>
				<input type="text" placeholder="Your name" data-required="text" name="name">
				<input type="text" placeholder="Your phone" data-required="text" name="phone">
				<input type="text" placeholder="Your email" data-required="text" data-required-email="email" name="email">
				<button class="btn1" type="submit">Send</button>
			</form>
		</div>
		
		<footer class="site-footer">
			<div class="container footer-top">
				<div class="row">
					<div class="col-sm-4 f-logo">
						<a href="index-detailed.html">
							<img src="images/logo.png" alt="">
							<p>Powerful Real Estate Template</p>
						</a>
					</div>
					<div class="col-xs-3 col-sm-2 f-menu">
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Apps</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
					<div class="col-xs-3 col-sm-2 f-menu">
						<ul>
							<li><a href="#">Vacancy</a></li>
							<li><a href="#">Builders</a></li>
							<li><a href="#">Referrals</a></li>
						</ul>
					</div>
					<div class="col-xs-3 col-sm-2 f-menu">
						<ul>
							<li><a href="#">Feedback</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</div>
					<div class="col-xs-3 col-sm-2 f-menu">
						<ul>
							<li><a href="#">Research</a></li>
							<li><a href="#">Mobile</a></li>
							<li><a href="#">Properties</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<ul class="social-links">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="col-sm-4 f-copyright">
							<p>All Rights Reserved © 2016</p>
						</div>
						<div class="col-sm-4 f-callback">
							<button class="modalform-btn btn1">Contact us</button>
						</div>
					</div>
				</div>
			</div>
		</footer>


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>

	




	<script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


	<!-- jQuery UI - DatePicker -->
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/swiper.jquery.min.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countTo.js"></script>
	<script src="js/ion.rangeSlider.min.js"></script>
	<script src="js/fancybox/fancybox.js"></script>
	<script src="js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/main.js"></script>

	<script src="js/markerclusterer.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
	<script src="js/google-maps.js"></script>
	
<script>
	$(function () {
  	$(document).scroll(function () {
			var $nav = $("#headerNew");
			$nav.toggleClass('scrolled', $(this).scrollTop() > 0);
		});
		});
</script>
</body>

</html>